<!DOCTYPE html>
<html>
  <head>
      <title>AIEEE past year papers for download</title>
      <meta name="description" content="All previous years AIEEE papers.">
    <% include ./layouts/head %>
  
  </head>
  
  <body>
    
    <% include ./layouts/header %>
</body>
<script src="/assets/javascripts/p_one.js">

</script>
</html>
