<!DOCTYPE html>
<html>
  <head>
    <% include ./layouts/head %>
  
  </head>
  
  <body>
    
    <% include ./layouts/header %>

<a class="alink" href="bitsat/offline">2005-2013 (Offline)</a>
<br>
<a class="alink" href="bitsat/mock">Mock Papers</a>

</body>
<script src="/assets/javascripts/p_one.js">

</script>
</html>
