<!DOCTYPE html>
<html>
    <head>
        <title>KVPY papers</title>
        <% include ./layouts/head %>
      
      </head>
      
      <body>
      
        <% include ./layouts/header %>

</body>
<script src="/assets/javascripts/p_one.js">

</script>
</html>
