<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta name="description" content="Login into Exam Partner for attempting papers online.">
        <% include ./layouts/head %>
      
      </head>
      
      <body>
      
        <% include ./layouts/header %>

  <% if (message.length > 0) { %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
    <% } %>

    <form action="/login" method="post">

      <h1>Log In</h1>
  
      <fieldset>
        <legend><span class="number">1</span>Your basic info</legend>

        <label for="mail">Email:</label>
        <input type="email" id="mail" name="email">
  
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        </fieldset>
        <button type="submit">Sign Up</button>

</body>
<script src="/assets/javascripts/p_one.js">
</script>

</html>