<!DOCTYPE html>
<html>

<head>
  <title>Exam Partner</title>
  <meta name="description" content="Your one-stop for all competitive exam previous year papers and mock papers including BITSAT, IP, JEE Mains, JEE Advanced, AIEEE, KVPY, NEET.">
  <% include ./layouts/head %>
<meta name="google-site-verification" content="Dg8ye5saqLbpkwBF7XG_qU_WDM7MszQibOCLJVZp-9A" />

</head>

<body>

  <% include ./layouts/header %>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="/jeemain" style="text-decoration:none">
          <div class="boxy">
            <h1>JEE Mains</h1>
            <h2>
              <i class="fas fa-desktop"></i> |
              <i class="far fa-file-alt"></i>
            </h2>
            <p>All JEE Mains Papers (both Offline and Online) 2013 onwards. Also X mock-tests.</p>
          </div>
        </a>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="/bitsat" style="text-decoration:none">
          <div class="boxy">
            <h1>BITSAT</h1>
            <h2>
              <i class="fas fa-desktop"></i> |
              <i class="far fa-file-alt"></i>
            </h2>
            <p>30 BITSAT papers from 2013 to 2018. Also includes 26 different mock-tests.</p>
          </div>
        </a>

      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="/ip" style="text-decoration:none">
          <div class="boxy">
            <h1>IP</h1>
            <h2>
              <i class="far fa-file-alt"></i>
            </h2>
            <p>IP papers from 2011 onwards. Also includes 26 different mock-tests.</p>
          </div>
        </a>

      </div>

  

      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="/jeeadvanced" style="text-decoration:none">
          <div class="boxy">
            <h1>JEE Advanced</h1>
            <h2>
              <i class="fas fa-desktop"></i> |
              <i class="far fa-file-alt"></i>
            </h2>
            <p>JEE Advanced papers from 1972 to 2018. Also includes 30 mock tests.</p>
          </div>
        </a>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="/aieee" style="text-decoration:none">
          <div class="boxy">
            <h1>AIEEE</h1>
            <h2>
              <i class="far fa-file-alt"></i>
            </h2>
            <p>AIEEE papers from 2002 to 2012. Also includes 30 mock-tests.</p>
          </div>
        </a>
      </div>


      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="/jeemain" style="text-decoration:none">
          <div class="boxy">
            <h1>JEE Mains</h1>
            <h2>
              <i class="fas fa-desktop"></i> |
              <i class="far fa-file-alt"></i>
            </h2>
            <p>All JEE Mains Papers (both Offline and Online) 2013 onwards. Also X mock-tests.</p>
          </div>
        </a>
      </div>
    
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="/kvpy" style="text-decoration:none">
          <div class="boxy">
            <h1>KVPY</h1>
            <h2>
              <i class="fas fa-desktop"></i> |
              <i class="far fa-file-alt"></i>
            </h2>
            <p>All KVPY papers and X mock-tests.</p>
          </div>
        </a>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="/neet" style="text-decoration:none">
          <div class="boxy">
            <h1>NEET</h1>
            <h2>
              <i class="fas fa-desktop"></i> |
              <i class="far fa-file-alt"></i>
            </h2>
            <p>All NEET papers and X mock-tests.</p>
          </div>
        </a>
      </div>

    </div>
</body>
<script src="/assets/javascripts/p_one.js">
</script>

</html>
