/*  define userpic margin padding etc later */

.overlay {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
    opacity: 0;
}

.sidenav .closebtn {
    font-size: 0;
}

#userpic img {
    height: 0;
}

.sidenav a {
    font-size: 15px;
    transition: .3s;
    text-decoration: none;
    color: rgb(255, 255, 255);
}



/* Shared */

.loginBtn {
    font-size: 16px;
    line-height: 34px;
    position: relative;
    box-sizing: border-box;
    /* width: 13em;  - apply for fixed size */
    margin: .2em;
    padding: 0 15px 0 46px;
    text-align: left;
    white-space: nowrap;
    color: #fff;
    border: none;
    border-radius: .2em;
}

.loginBtn:before {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 34px;
    height: 100%;
    content: '';
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, .1);
}

/* Facebook */

.loginBtn--facebook {
    background-color: #4c69ba;
    background-image: linear-gradient(#4c69ba, #3b55a0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354c8c;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5b7bd5;
    background-image: linear-gradient(#5b7bd5, #4864b1);
}

#submit {
    margin-bottom: 2px;
}

/* Google */

.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #dd4b39;
}

.loginBtn--google:before {
    border-right: #bb3f30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #e74b37;
}

.sticktop {
    position: fixed;
    top: 0;
    z-index: 5;
}

#navbar {
    width: 100%;
    height: 70px;
    margin-bottom: 100px;
    padding: 0;
    background-color:rgba(23, 52, 124, 1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .51);
}

.oneline {
    overflow: hidden;
    white-space: nowrap;
}

#ham img {
    height: 0;
}

#ham {
    padding: 1px;
    opacity: .75;
}

#ham:hover {
    opacity: 1;
}

html,
body {
    font-family: 'Catamaran', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-weight: bold;
    transition: opacity .3s;
    letter-spacing: .1em;
    opacity: .75;
    color: rgb(39, 55, 143);
}

.alink {
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
    transition: opacity .3s;
    letter-spacing: .1em;
    text-decoration: none !important;
    color: rgb(39, 55, 143);
}

.alink:hover {
    opacity: .75;
}

h2 {
    color: rgb(39, 55, 143);
    opacity: .75;
}

.boxy {
    margin-top: 10px;
    margin-right: 10%;
    margin-bottom: 40px;
    margin-left: 10%;
    padding: 10px;
    transition: margin-top ease 1s, margin-bottom ease 1s, background-image ease 2s, box-shadow ease 1s;
    text-align: center;
    color: rgba(14, 14, 13, 1);
    border: .4px solid grey;
    border-radius: 1.5%;
    /* transition: top 0.3s; */
    background-color: rgba(79, 92, 91, .03);
}

.boxy:hover {
    margin-top: 3px;
    margin-bottom: 47px;
    box-shadow: 4px 4px 11px rgba(33, 33, 33, .2);
    /**horizontal shadow vertical shadow blur effect color**/
}

.nav-link {
    margin: 1px solid white;
}

/*  */

body {
    font-family: 'Lato', sans-serif;
}

.navlink {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.thirtytwoleft {
    overflow: hidden;
    padding: 8px 8px 8px 32px;
    white-space: nowrap;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/*  */

.form1 {
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    border: 1px solid rgba(151, 158, 162, .73);
    border-radius: 10%;
    object-fit: cover;
}

/* phone potrait full hd , hd  */
/*  iPhones, Pixel 2 basically expensive phones */

@media only screen and (max-width: 768px) {
    .nottarget {
        text-align: center;
    }
    .boxy {
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 3px;
        margin-bottom: 47px;
        box-shadow: 4px 4px 11px rgba(33, 33, 33, .2);
    }
    .form1 {
        
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        padding-top: 50px;
        padding-right: 10px;
        padding-bottom: 50px;
        padding-left: 10px;
        object-fit: cover;
    }
    #userpic img {
        height: 100%;
    }
    #navbar {
        height: 50px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, .51);
    }
    .sidenav a {
        font-size: 16px;
        display: block;
        transition: .3s;
        text-decoration: none;
        color: #818181;
    }
    .sidenav .closebtn {
        font-size: 36px;
        position: absolute;
        top: 0;
        right: 25px;
        margin-left: 50px;
    }
    #ham img {
        width: 27px;
        height: 20px;
        position: absolute;
        top: 0%;
        right: 0%;
        margin: 10px;
    }
    .sidenav {
        position: fixed;
        z-index: 5;
        top: 0;
        right: 0;
        overflow-x: hidden;
        width: 0;
        height: 100%;
        padding-top: 60px;
        transition: .5s;
        background-color: white;
    }

    #logo img{
        height: 40px;
    }

    #mainimage{
        display: block;
        max-width: 100%;
    }
}



@media only screen and (min-width: 768px) {
    .sidenav{
        position: relative;
        float: right;
    }
    #logo{
        position: relative;
        float: left;
    }
    #logo img{
        height: 70px;
    }
    #mainimage{
        display: block;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}