<!DOCTYPE html>
<html>
    <head>
        <% include ../layouts/head %>
      
      </head>
      
      <body>
      
        <% include ../layouts/header %>

</body>
<script src="/assets/javascripts/p_one.js">

</script>
</html>
