<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/stylesheets/p_one.css">

  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <ul id="navbar" class="sticktop">
    <div id="mySidenav" class="sidenav nottarget">
      <a href="javascript:void(0)" class="closebtn nottarget" onclick="closeNav()">&times;</a>
      <a id="logo" class="nottarget" href="/"><img class="nottarget" src="/assets/images/logo.png" alt="Logo"></a>
      <a class="navlink thirtytwoleft nottarget" href="/">Home</a>
      <!-- <a id="userpic" class="nottarget" href=""><img src="usericon.png" alt="usericon"></a> -->
      <a class="navlink thirtytwoleft nottarget" href="/login">Login</a>
      <a class="navlink thirtytwoleft oneline nottarget" href="/signup">Sign Up</a>
      <a class="navlink thirtytwoleft nottarget" href="/contact">Contact</a>
    </div>
    <span id="ham" class="nottarget" onclick="openNav()"><img class="nottarget" src='/assets/images/ham.png' ></span>
  </ul>

<div style="margin-bottom:100px">

</div>

<a href="2017/02_04_2017">02 April 2017</a>
<a href="2017/08_04_2017">08 April 2017</a>
<a href="2017/09_04_2017">09 April 2017</a>

</body>
<script src="/assets/javascripts/p_one.js">

</script>
</html>
